<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.privateger.stmichaeluniversalapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4511153742871799~9189394157" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vertretungsplan"
            android:label="@string/title_activity_vertretungsplan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Homepage"
            android:label="@string/title_activity_homepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SchulbistumMenu" />
        <activity
            android:name=".lehrerKuerzel"
            android:label="@string/title_activity_lehrer_kuerzel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivityPage2"
            android:label="@string/title_activity_main_page2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mensa_bestellung"
            android:label="@string/title_activity_mensa_bestellung"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".noten"
            android:label="@string/title_activity_noten"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>